# Fix: Override server-wide "X-Robots-Tag: none" that blocks Google indexing
# See: https://developers.google.com/search/docs/crawling-indexing/robots-meta-tag
<IfModule mod_headers.c>
    Header set X-Robots-Tag "index, follow"
</IfModule>